:host {
  font-size: 1.5em;
}

.tab-calc-form {
}

.mat-input-container {
  width: 100%;
}

.amount-container {
  padding: 0.8em 0;
}

.amount-container.total {
  font-weight: 700;
  border-top: 3px solid #000;
  margin: 0.4em 0 0.65em;
  padding-top: 1.1em;
}

.reset-button-container {
  text-align: center;
}

.reset-button {
  font-size: 0.75em;
}
